/* Header Styling */
.header .navbar {
    background: linear-gradient(to bottom, #007bff 0%, #0056b3 100%); /* Gradient background */
}

.navbar-brand img {
    height: 50px; /* Logo size */
    width: auto; /* Maintain aspect ratio */
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    transition: background-color 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    background-color: #004085; /* Hover effect */
    border-radius: 5px; /* Rounded corners */
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white; /* White border for profile image */
}

@media (max-width: 992px) {
    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.5); /* Toggler visibility */
    }
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 30px;
}
.container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}
.search-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    width: 150px;
    border-radius: 8px;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 12px;
    height: 49px;
    width: 120px;
    color: white;
    border: none;
    cursor: pointer;
}
.auth-container {
    position: absolute;
    top: 20px; /* Adjusted for moving down */
    right: 10px;
}
.profile-img {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.round-trip-check {
    margin-top: 20px; /* Extra space below the form */
}
.button-group {
    text-align: center;
    margin-bottom: 20px;
}

.button-group .btn {
    margin: 0 10px; 
}

.list-group-item h5 {
    color: #007bff; 
}

.list-group-item p {
    color: #356894; 
}

.list-group-item {
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1); 
    border-radius: 13px;
}
#reverseButton {
    padding: 0; 
    background: none;
    border: none; 
}
#reverseButton img {
    width: 30px;
    height: 30px; 
    cursor: pointer;
}
.round-trip-check {
    margin-top: 10px; /* Adjust top margin */
    display: block; /* Makes label appear below the checkbox */
    text-align: center; /* Center align the checkbox and label */
}

.round-trip-check .form-check-label {
    margin-left: 10px; /* Add space between checkbox and label */
    display: inline-block; /* Align label next to checkbox */
}

  